{% extends "base.html" %}

{% block stylesheets %}
<style>
    textarea {
        min-height: 200px;
    }

    .page {
        margin-top: 4rem;
        padding-top: 2rem;
        border-top: 3px solid #333;
    }
</style>
{% endblock %}

{% block content %}
<h1>{{ dbRepo.name }}</h1>

<h4>
    Jump to&nbsp;&nbsp;
{% for page in pages %}
    <a class="btn btn-primary btn-lg" href="#edit_{{ page.id }}">{{ page.name }}</a>
{% endfor %}
</h4>

{% for page in pages %}
    <h2 class="page" id="edit_{{ page.id}}">{{ page.name }}</h2>
    <div id="edit_{{ page.id }}_form"></div>
{% endfor %}
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
<script src="https://unpkg.com/react-jsonschema-form/dist/react-jsonschema-form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.5/reqwest.min.js"></script>
<script>
{% for page in pages %}
    ReactDOM.render(
        React.createElement(JSONSchemaForm.default, {
            'schema': {{ schema|dump|safe }},
            {% if uiSchema %}
                'uiSchema': {{ uiSchema|dump|safe }},
            {% endif %}
            {% if page.data %}
                'formData': {{ page.data|dump|safe }},
            {% endif %}
            'onSubmit': function (data) {
                reqwest({
                    'url': '/edit/{{ dbRepo.id }}/{{ page.id }}',
                    'method': 'post',
                    'type': 'json',
                    'contentType': 'application/json',
                    'data': JSON.stringify(data.formData)
                }).then(function (resp) {
                    console.log('here');
                });
            }
        }),
        document.getElementById('edit_{{ page.id }}_form')
    );
{% endfor %}
</script>
{% endblock %}
