@import "../../node_modules/bootstrap/dist/css/bootstrap";
@import "../../node_modules/cropperjs/dist/cropper";

fieldset {
  padding: .35em .625em .75em;
  border: 1px solid #dfdfdf;
}

fieldset#root {
  padding: 0;
  border: 0;
}

fieldset:focus-within {
  border-color: #2e6da4;
  & > legend {
    color: #2e6da4;
  }
}

legend {
  padding: 0 5px;
  border-bottom: 0;
}

.checkbox {
  label {
    padding-left: 25px;
  }
  input[type="checkbox"] {
    margin-top: 0;
    margin-left: -25px;
  }
}

.sticky-alert {
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 10px 0;
  background-color: white;

  & > .alert {
    margin-bottom: 0;
  }
}

.page-tabs {
  position: sticky;
  z-index: 100;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  background-color: white;
}

.page-container {
  padding-bottom: 80px; // Space for save box

  &.is-saving form {
    pointer-events: none;
    opacity: 0.4;
  }
}

.page-save {
  @extend .container;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 34px;
  padding-top: 20px;
  background-color: white;
}

.page-back {
  margin-top: 20px;
}

.image-field-crop {
  margin-bottom: 20px;

  img {
    display: block;
    max-width: 100%;
  }
}
