{% extends "base.html" %}

{% block stylesheets %}
<style>
    textarea {
        min-height: 200px;
    }

    .tab-pane {
        padding-top: 20px;
    }

    form > .form-group > fieldset {
        border: 0;
        padding: 0;
    }
</style>
{% endblock %}

{% block content %}
<h1>{{ dbRepo.name }}</h1>
<p>You are editing the {{ branch }} branch</p>
<div id="content"></div>
{% endblock %}

{% block javascripts %}
<script>
    window.GitCMS = {
        'schema': {{ repo.schema|dump|safe }},
        'uiSchema': {{ repo.uiSchema|dump|safe }},
        'pages': {{ repo.pages|dump|safe }}
    };
</script>
<script src="/public/javascripts/main.js"></script>
{% endblock %}
