{% extends "base.html" %}

{% block stylesheets %}
<style>
    textarea {
        min-height: 200px;
    }

    .tab-pane {
        padding-top: 20px;
    }

    form > .form-group > fieldset {
        border: 0;
        padding: 0;
    }
</style>
{% endblock %}

{% block content %}
<h1>{{ dbRepo.name }}</h1>

<ul class="nav nav-tabs">
    {% for page in pages %}
        <li class="nav-item {% if loop.first %}active{% endif %}">
            <a class="nav-link" data-toggle="tab" href="#{{ page.id }}">
                {{ page.name }}
            </a>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
{% for page in pages %}
    <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ page.id }}">
        <div id="edit_{{ page.id }}_form"></div>
        <div id="edit_{{ page.id }}_saving" class="alert alert-warning hidden">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
            Saving update&hellip;
        </div>
        <div id="edit_{{ page.id }}_success" class="alert alert-success hidden">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Update saved
        </div>
        <div id="edit_{{ page.id }}_failure" class="alert alert-danger hidden">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Update failed
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
<script src="https://unpkg.com/react-jsonschema-form/dist/react-jsonschema-form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.5/reqwest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function onSubmit(pageId, data) {
        var savingEl = document.getElementById('edit_' + pageId + '_saving');
        var successEl = document.getElementById('edit_' + pageId + '_success');
        var failureEl = document.getElementById('edit_' + pageId + '_failure');

        savingEl.classList.remove('hidden');
        successEl.classList.add('hidden');
        failureEl.classList.add('hidden');

        reqwest({
            'url': '/edit/{{ dbRepo.id }}/' + pageId,
            'method': 'post',
            'type': 'json',
            'contentType': 'application/json',
            'data': JSON.stringify(data.formData)
        }).then(function (resp) {
            savingEl.classList.add('hidden');
            successEl.classList.remove('hidden');
        }, function () {
            savingEl.classList.add('hidden');
            failureEl.classList.remove('hidden');
        });
    }

{% for page in pages %}
    ReactDOM.render(
        React.createElement(JSONSchemaForm.default, {
            'schema': {{ schema|dump|safe }},
            {% if uiSchema %}
                'uiSchema': {{ uiSchema|dump|safe }},
            {% endif %}
            {% if page.data %}
                'formData': {{ page.data|dump|safe }},
            {% endif %}
            'onSubmit': onSubmit.bind(null, '{{ page.id }}')
        }),
        document.getElementById('edit_{{ page.id }}_form')
    );
{% endfor %}
</script>
{% endblock %}
